# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

!/broadcast/**/11155111/run-latest.json
/broadcast/**/11155111/run-*.json

!/broadcast/**/1/run-latest.json
/broadcast/**/1/run-*.json

/script/output/anvil

# Docs
docs/

# Dotenv file
.env


