# Soldeer dependencies
dependencies/

# Compiler files
cache/
out/

# Ignores forge broadcast logs
/broadcast

/script/output/anvil
/script/output/coprocessor-v2-deployment.json

# env files
.env
.envrc
.DS_Store

# coverage report
lcov.info
