[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-safe"]
	path = lib/forge-safe
	url = https://github.com/lagrange-labs/forge-safe
[submodule "lib/safe-smart-account"]
	path = lib/safe-smart-account
	url = https://github.com/safe-global/safe-smart-account
