# Soldeer dependencies
dependencies/

# Compiler files
cache/
out/

# Ignores forge broadcast logs
/broadcast

/script/output/anvil

# env files
.env
.envrc
.DS_Store

# coverage report
lcov.info

# editor files
.vscode/
